# --- Let's Encrypt with Cloudflare ---
# Used by the backend to run Certbot
CLOUDFLARE_EMAIL=your-email@example.com
CLOUDFLARE_API_KEY=your_cloudflare_global_api_key

# --- General ---
SECRET_KEY=generate_a_very_secret_key_here

# --- Initial Admin User ---
# Used to create the first admin account on initial startup.
ADMIN_USER=admin
ADMIN_EMAIL=your-email@example.com
ADMIN_PASS=a_very_strong_and_secret_password