fastapi
uvicorn[standard]
pydantic
python-dotenv
jinja2
docker
websockets
aiofiles
certbot
certbot-dns-cloudflare
httpx
bcrypt
python-jose
cryptography
python-multipart
passlib
# --- New Database Dependencies ---
sqlalchemy
psycopg2-binary
asyncpg
geoip2